.row #sidebar-info {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

#sidebar-info {
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
    overflow-y: auto;
    padding-bottom: 0px;
    height: 100%;
}

#streetview {
    width: 100%;
}

#accident-icon-area {
    background-color: #F2F2F2;
}

#img-accident-type {
    padding-top: 0;
    height: 150px;
    width: 150px;
    margin: auto;
    display: block;

}

#tip-nesrece {
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}

#padavina, #temp-br {
    font-size: 18px;
}

#tempImg {
    height: 165px;
}
