.nav-pills > li {
    width: 100%;
}

.cmd4-right {
    float: right;
    background: #f2f2f2;
}

.dashFormat {
    font-family: Open Sans;
    font-size: 20px;
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    height: calc(100% - 110px);
}

#navigation {
    height: 110px;

}

.text-muted {
    color: #DDD;
    text-align: center;
}

#logo {
    margin-top: -7px;
}

#navbar {
    margin-top: 20px;
}

.navbar {
    box-shadow: 1px 2px 2px #A9A5A5;
    background: #fff;
}

.nav {
    font-size: 20px;
}

.row {
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#form-putanja {
    padding-left: 2%;
    padding-top: 2%;
    text-align: center;
}

#adresa {
    float: right;

}

ul#results li {
}

label {
    color: #000000;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

.container {
    height: 110px;
}

#padavine {
    float: left;
    text-align: center;
    width: 30%;
    margin-left: -5px;
}

blockquote {
    padding: 0;
    padding-bottom: 2em;
    border: none;
}

#map-section {
    min-height: 100%;
}

.chartPlot {
    padding-top: 8%;
    padding-bottom: 50px;
}

#solved {
    background-color: #ECC200;
}

.image-putanja {
    width: 75px;
    height: 75px;
    float: left;
    margin-left: 50px;
}

.text-putanja {
    float: left;
    height: 100px;
    width: 50%;
    margin-top: 10px;
}

p {
    margin-bottom: 0;
}

.p-gornji {
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

.p-donji {
    text-align: center;
}

#chartType > div > div > a {
    display: none !important;
}
