<section id="navigation">
            <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">

                            <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">
                                            <img id="logo" src="images/logo.png" alt="SafetyPin" height="85" width="230">
                                    </a>
                            </div>

                            <div id="navbar" class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                            <li><a href="mapa.html">Mapa</a>
                                            </li>
                                            <li><a href="putanja.html">Putanja</a>
                                            </li>
                                            <li><a href="dodaj-nezgodu.html">Dodaj nezgodu</a>
                                            </li>
                                            <li><a href="statistika.html">Statistika</a>
                                            </li>
                                            <li><a href="savetnik.html">Savetnik</a></li>
                                    </ul>
                            </div>
                    </div>
            </nav>

    </section>