<div class="col-md-3" id="sidebar-info">
    <img id="streetview"
         src="https://maps.googleapis.com/maps/api/streetview?size=400x250&location=Belgrade,Serbia8&heading=151.78&pitch=-0.76">

    <div class="col-md-12">
        <h1 class="col-md-12 text-center" id="time">*****</h1>
    </div>
    <div class="col-md-12">
        <h1 id="dayOfWeek" class="col-md-6 pull-left text-center">********</h1>

        <h1 id="date1" class="col-md-6 pull-right text-center">*******</h1>
    </div>
    <div id="accident-icon-area">
        <div class="col-md-12">
            <img id="img-accident-type" src="images/povrede.png" class="img-responsive">
        </div>
        <div class="col-md-12">
            <p id="tip-nesrece">Sa povredama</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <img id="oblacic" class="col-md-6" src="images/Humid and Mostly Cloudy.png">

            <img src="images/temperatura.png" class="col-md-6 img-responsive">
        </div>
        <p id="padavina" class="col-md-6 text-center">Kiša</p>

        <p class="col-md-6 text-center"><span id="temp-br"></span>°C</p>

    </div>
</div>